main {
  margin-left: 0;
}

h1{
  line-height: 1.2em;
  margin-bottom: 2rem;
}

h2{
  font-size: 40px;
  color: white;
}


#startBtn{
  padding: 1rem;
  background-color: #00ffff;
  border: transparent;
  box-shadow: 0px 0px 13px 4px #00ffff;
  font-size: 23px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8%;
  margin-top: 2rem;
}

/*js related stuff */
#pre-start{
  display: block;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
}

#pre-start h2{
  line-height: 56px;
  font-weight: 400;
  color: white;
  font-size: 75px;
  margin-top: 5rem;
  margin-bottom: 2rem;
}


input[type="radio"]{
  display:none;
}

label {
  display: inline-block;
  text-align: center;
  font-size: large;
  padding: 1.3rem;
  cursor: pointer;
  border-top: 3px solid white;
  border-left: 3px solid white;
  color: white;
  border-radius: 43px;
  transition: background-color 0.3s;
  margin: 0.5rem 1.8rem 1.3rem 1.8rem;
  max-width: 30%;
  min-width: 30%;
  background-color: rgba(43,41,85, 0.6)
}

#contatoreDomande {
  margin-top: 10rem;
  color: white;

}

#testoDomanda {
  color: white;
  max-width: 1000px;
  font-size: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

#prossimaBtn {
  padding: 1rem;
  background-color: #00ffff;
  border: transparent;
  box-shadow: 0px 0px 13px 4px #00ffff;
  font-size: 23px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8%;
  margin-top: 4rem;
}

/* #counterStyle {
  color: white;
} */

.pink {
  color: #fd0d99;
}

.checkRadioChecked{
  background: linear-gradient(to right bottom, #D20094, #900080);
}

.green{
  background-color: green;
}

.red{
  background-color: red;
}

#endScreen{
  display: none;
}

#contenitore-domande{
  display: none;
  margin-top: 22vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}

.timer {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2rem; 
    margin-right: 6rem;
}
.timer > svg {
    width: 200px;
    height: 200px;
}

.timer > svg > circle {
    fill: none;
    stroke-opacity: 0.3;
    stroke: #00ffff;
    stroke-width: 20;
    transform-origin: center center;
    transform: rotate(-90deg);
}

.timer > svg > circle + circle {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    stroke-linecap: round;
    stroke-opacity: 1;
}

.timer.animatable > svg > circle + circle {
    transition: stroke-dashoffset 0.3s ease;
}

.timer > svg > text {
    font-size: 2rem;
}

.timer > svg > text + text {
    font-size: 3rem;
}

.timer svg text.white {
  fill: white; 
  font-size: 1rem;
}

#timer svg #timerTesto {
  fill: white;
  font-size: 3.5rem;
}

#endScreen h1{
  font-weight: 700;
  margin-top: 1rem;
}



.containerResult {
  display: flex;
  justify-content: space-evenly;
  padding-left: 50px;
  padding-right: 50px;

}

.feed{
  display: flex;
    position: relative;
    left: 325px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 22px;

}

.feed h3{
  color: white;
  font-size: 25px;
}

.feed span{
  color: #00ffff;
  font-size: 25px;
}

.feed p {
margin-top: 20px;

}

.containerChart{
  display: flex;
  margin-top: 24px;
  position: relative;
  right: 8rem;

}

.correct{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 90px;
}

.wrong{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 90px;

}

.correct p {
  font-size: 30px;
}

.wrong p {
  font-size: 30px;
}

.rate{
  display: flex;
  justify-content: center;
  height: 5rem;
  margin-top: 70px;
  
}

.rate input{
  width: 285px;
    height: 100%;
    background: none;
    border: 2px solid white;
    color: white;
    font-size: 26px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;

}

.rate input:hover{
  -webkit-box-shadow: 0px 1px 17px 13px rgba(225,8,255,0.48); 
box-shadow: 0px 1px 17px 13px rgba(225,8,255,0.48);

}

.h2Correct{
  font-size: 73px;
    color: white;

}

.h2Wrong{
  font-size: 73px;
  color: white;

}

#testoCorrette{
  font-size: 75px;
}

#testoSbagliate{
  font-size:75px ;
}


